name: Borsa AI Otonom Egitim

on:
  schedule:
    - cron: '30 15 * * 1-5' # Pazartesiden Cumaya TR saatiyle 18:30'da çalışır
  workflow_dispatch: # Manuel çalıştırma butonu ekler

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Repoyu Klonla
      uses: actions/checkout@v3

    - name: Python Kur
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Kütüphaneleri Yükle
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Yapay Zeka Modelini Calistir
      env:
        GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
      run: python main.py
